
body{
    background-color: #D4A373;
    font-family: sans-serif;
     margin: 0;
   padding:0;
}

.container{

    display:flex;
    justify-content: center;
    align-items: center;
}

.allHeader{
background-color: #FAEDCD;
display: flex;
justify-content: space-around;
align-items: center;


}
#nombre-header{
    background-color: #7f4f24;
    color: white;
    border-radius: 3px;
    padding: 10px 25px 10px 25px;
}


.listaNav {   
gap: 100px;
list-style: none;
}
.itemNav a{

text-decoration: none;
color: white;
background-color: #7f4f24;
border-radius: 5px;
 padding: 10px 20px;
 font-size: 20px;
 

}