
body{
    background-color: #D4A373;
    font-family: sans-serif;
     margin: 0;
   padding:0;
}
.texto{
    font-family: sans-serif;
    font-size: 20px;
    flex-grow: 1; 
    flex-shrink: 1;
}


.container{

    display:flex;
    justify-content: center;
    align-items: center;
}

.allHeader{

background-color: #FAEDCD;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;

}
#nombre-header{
    background-color: #7f4f24;
    color: white;
    border-radius: 3px;
    padding: 10px 25px 10px 25px;
}


.listaNav {   
gap: 20px;
list-style: none;

}
.itemNav a{

text-decoration: none;
color: white;
background-color: #7f4f24;
border-radius: 5px;
 padding: 15px 30px;
 font-size: 22px;
 

}

#cuerpo-principal{

    background-color:#faedcdc4 ;
    margin: 50px 100px;
    padding: 10px ;
    gap:100px;

}

#fotoPerfil{
    width: 500px;
    border-radius: 20px;
    flex-shrink: 0;
}